
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
﻿ <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="电商按钮测试，抓取的内容" name="description">
<title>电商按钮测试</title>

</head>
<style>
.nei{
width:560px;
padding-top:20px;
padding-bottom:20px;
}
.wai{
border: 1px solid #FF5C00;
width:560px;
}

.hrs{
color:#00ae68;
width:560px;
size:3px;


}
</style>
</head>
<body style="background: #EFEFEF;">
<script type="text/javascript">
  bShareOpt = {
     uuid: "196fa269-53fb-4b4a-8e09-3f020219353e",  
     vUid: "sanford"
  };
</script>
<script type="text/javascript" charset="utf-8" src="<%= button_js_path('bshareLikeOrg.js') %>"></script>  
<script type="text/javascript" charset="utf-8" src="<%= button_js_path('buttonOrg.js') %>#style=-1&amp;type=15&amp;ssc=false"></script>
<div class="wai">
<h3>电商单页面多按钮：</h3>
<hr class="hrs" >


<div class="nei" >
<div class="bshare-custom icon-medium" style="float:left;margin-left:20px;">
<a title="分享到QQ空间" class="bshare-qzone"></a>
<a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
<a title="分享到人人网" class="bshare-renren"></a>
<a title="分享到腾讯微博" class="bshare-qqmb"></a>
<a title="分享到搜狐微博" class="bshare-sohuminiblog"></a>
</div>
<a class="bsLikeDiv" href="http://static.bshare.cn"></a>

<script type="text/javascript" charset="utf-8" >
bShareLike.addEntry({
   url:"http://www.bshare.cn/button1.html" , 
   summary:"测试summary1", 
   pic: "http://static.bshare.cn/frame/images/logos/l3/bshare.gif", 
   product: "iphone1", 
   price: "1777.00", 
   brand: "苹果1", 
   tag: "白色1", 
   category: "平板电脑1", 
   template: "1",
   popcss: "http://test.buzzinate.com/ceshi/xin/dss.css"
});
bShare.addEntry({
   url:"http://www.bshare.cn/button1.html" , 
   summary:"测试summary1", 
   pic: "http://static.bshare.cn/frame/images/logos/l3/bshare.gif", 
   product: "iphone1", 
   price: "1777.00", 
   brand: "苹果1", 
   tag: "白色1", 
   category: "平板电脑1", 
   template: "1",
   popcss: "http://test.buzzinate.com/ceshi/xin/dss.css"
});
</script>
</div>
<hr class="hrs" >


<div class="nei" >
<div class="bshare-custom icon-medium" style="float:left;margin-left:20px;">
<a title="分享到QQ空间" class="bshare-qzone"></a>
<a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
<a title="分享到人人网" class="bshare-renren"></a>
<a title="分享到腾讯微博" class="bshare-qqmb"></a>
<a title="分享到搜狐微博" class="bshare-sohuminiblog"></a>
</div>
<a class="bsLikeDiv" href="http://static.bshare.cn"></a>

<script type="text/javascript" charset="utf-8" >
bShareLike.addEntry({
   url:"http://www.bshare.cn/button2.html" , 
   summary:"测试summary2", 
   pic: "http://static.bshare.cn/frame/images/logos/m2/bshare.gif", 
   product: "iphone2", 
   price: "2777.00", 
   brand: "苹果2", 
   tag: "白色2", 
   category: "平板电脑2", 
   template: "2",
   popcss: "http://test.buzzinate.com/ceshi/xin/dss.css"
});
bShare.addEntry({
   url:"http://www.bshare.cn/button2.html" , 
   summary:"测试summary2", 
   pic: "http://static.bshare.cn/frame/images/logos/m2/bshare.gif", 
   product: "iphone2", 
   price: "2777.00", 
   brand: "苹果2", 
   tag: "白色2", 
   category: "平板电脑2", 
   template: "2",
   popcss: "http://test.buzzinate.com/ceshi/xin/dss.css"
});
</script>
</div>
<hr class="hrs" >



<div class="nei" >
<div class="bshare-custom icon-medium" style="float:left;margin-left:20px;">
<a title="分享到QQ空间" class="bshare-qzone"></a>
<a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
<a title="分享到人人网" class="bshare-renren"></a>
<a title="分享到腾讯微博" class="bshare-qqmb"></a>
<a title="分享到搜狐微博" class="bshare-sohuminiblog"></a>
</div>
<a class="bsLikeDiv" href="http://static.bshare.cn"></a>

<script type="text/javascript" charset="utf-8" >
bShareLike.addEntry({
   url:"http://www.bshare.cn/button3.html" , 
   summary:"测试summary3", 
   pic: "http://static.bshare.cn/frame/images/logos/mp2/bshare.gif", 
   product: "iphone3", 
   price: "3777.00", 
   brand: "苹果3", 
   tag: "白色3", 
   category: "平板电脑3", 
   template: "3",
   popcss: "http://test.buzzinate.com/ceshi/xin/dss.css"
});
bShare.addEntry({
   url:"http://www.bshare.cn/button3.html" , 
   summary:"测试summary3", 
   pic: "http://static.bshare.cn/frame/images/logos/mp2/bshare.gif", 
   product: "iphone3", 
   price: "3777.00", 
   brand: "苹果3", 
   tag: "白色3", 
   category: "平板电脑3", 
   template: "3",
   popcss: "http://test.buzzinate.com/ceshi/xin/dss.css"
});
</script>
</div>

<script type="text/javascript" charset="utf-8" src="<%= button_js_path('bshareC1.js') %>"></script>
</body>
</html>