<div class="span3 bs-docs-sidebar">
  <ul class="nav nav-list bs-docs-sidenav">
    <li><a href="#madhouse"><i class="icon-chevron-right"></i> MasHouse</a></li>
  </ul>
</div><!--/span-->


<div class="span9">
  <section id="madhouse">
  	<div class="page-header"><h1>MadHouse</h1></div>

  	<ul>
  		<li><%= link_to %></li>
  	</ul>
  </section>

</div>