

		<div class="BSHARE_POP blkContainerSblkCon clearfix blkContainerSblkCon_14" id="artibody">

     <div class="img_wrapper"><img alt="温格认错：后悔卖巨星" src="http://i0.sinaimg.cn/ty/g/pl/2012-12-13/U8966P6T12D6335978F44DT20121213091518.png"><span class="img_descr">温格认错：后悔卖巨星</span></div>
    <!-- 显示附图 -->

    <!-- 显示附图 -->
   <!-- publish_helper name='原始正文' p_id='6' t_id='12' d_id='6335978' f_id='41' -->
<p>　　新浪体育讯　在被英乙球队布拉德福德淘汰出联赛杯后，温格正面临他执教阿森纳<a class="wt_article_link" onmouseover="WeiboCard.show(1990921871, 'sports' , this)" href="http://weibo.com/arsenalnews?zw=sports" target="_blank">[微博]</a>16年来的最大危机。不少阿森纳球迷都呼吁俱乐部让温格下课，不过面对球迷施加的巨大压力，阿森纳董事会表示了对法国教头的力挺，他们不打算解雇这名功勋主帅。</p>

<p>　　据《每日邮报》透露，阿森纳主席克伦克已经向温格表示了足够了支持，并准备在冬季转会窗为温格筹措引援资金，以止住球队目前的下滑趋势。阿森纳首席执行官加齐迪斯会见了阿森纳球迷联盟“Arsenal Supporters Trust”的代表，他代表球队并向广大枪手球迷致歉：“我愿意向你们所有人道歉，尤其是那些远道而来支持我们的球迷，这是难以置信的鼓励，和以往一样，球队本应该给你们更好的结果。”</p>

<p>　　阿森纳最近几个赛季实力有所下降，跟队中主力对于接二连三的出走不无关系，温格此前一直否认这一事实，不过在被英乙队淘汰出联赛杯、失去本赛季可能是唯一夺冠的机会后，温格终于放下了他的固执，首次承认自己后悔卖掉队中的多名巨星。</p>

<p>　　据《天空体育》报道，温格在接受《442》杂志采访时说：“<strong>我感到后悔，2、3年前我们已经有了一直非常不错的球队，</strong>完全有能力竞争前4，我们那一年在欧冠中被巴萨<a class="wt_article_link" onmouseover="WeiboCard.show(1990303727, 'sports' , this)" href="http://weibo.com/barcanews?zw=sports" target="_blank">[微博]</a>淘汰，那场比赛我们本有可能在最后一分钟进球，联赛也就差那么一点儿。但是你能感觉到球队的潜力，我当时想：‘好吧，让我们一起努力’，但球队随后就土崩瓦解了。要知道在经历了5、6年的组队工作后，球员的离去让你非常沮丧，你必须推倒重来。”</p>

<p>　　温格表示：<strong>“最近几年，我们在球员还年轻时就失去了他们，这2年就有范佩西、法布雷加斯、纳斯里离队，这可都是阿森纳的潜力，失去他们当然会让你感到担心。”</strong>就在昨天，英国媒体纷纷曝出曼联有意购入沃尔科特的消息，在失去了范佩西等人后，下一个会是沃尔科特吗？</p>

<p>　　7年无冠，是人们经常用来调侃、指责温格的把柄，儒雅的法国教授表示，他执教阿森纳的16年确实并不完美：“我不是说我永远不会犯错，我很幸运能在阿森纳执教16年，我尊重这家俱乐部的传统。我感到幸运，我认为我至少努力在回报俱乐部，回报他们对我的信任。”</p>

<p>　　(木扎)</p>

<p>&nbsp;</p>

<span style="display:none" id="noAD"></span>

<!-- publish_helper_end -->

			</div>